<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head', { page: 'Ristorante con Fusion: Home' }) %>

<body>

    <%- include('./partials/navbar') %>
    <%- include('./partials/header') %>
    <%- include('./components/carousel/home') %>

    <div class="container py-5">
        <div class="row mx-2 reverse">
            <div class="col-lg-9 col-sm col-md-8">
                <div class="container py-5">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-6 format">
                            <img src="./img/uthappizza.png" alt="uthappizza" class="home-content-img">
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-6">
                            <h2 class="home-content-title">
                                Uthappizza <span class="badge bg-danger">HOT</span> <span class="badge rounded-pill bg-secondary">$4.99</span>
                            </h2>
                            <p class="d-none d-sm-none d-md-block">A unique combination of Indian Uthappam (pancake) and Italian pizza, topped with Cerignola, ripe vine cherry tomatoes, Vidalia onion, Guntur chillies and Buffalo Paneer.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm col-md-4 format">
                <p class="home-content-extra">Our Lipsmacking Culinary Creations</p>
            </div>
        </div><hr>
        <div class="row mx-2">
            <div class="col-lg-3 col-sm col-md-4 format">
                <p class="home-content-extra">This Month's Promotions</p>
            </div>
            <div class="col-lg-9 col-sm col-md-8">
                <div class="container py-5">
                    <div class="row">
                        <div class="col-lg-9 col-sm-7 col-md-8">
                            <h2 class="home-content-title">
                                Weekend Grand Buffet <span class="badge bg-danger">HOT</span>
                            </h2>
                            <p class="d-none d-sm-none d-md-block">Featuring mouthwatering combinations with a choice of five different salads, six enticing appetizers, six main entrees and five choicest desserts. Free flowing bubbly and soft drinks. All for just $19.99 per person.</p>
                        </div>
                        <div class="col-lg-3 col-sm-5 col-md-4 format">
                            <img src="./img/buffet.png" alt="buffet" class="home-content-img">
                        </div>
                    </div>
                </div>
            </div>
        </div><hr>
        <div class="row mx-2 reverse">
            <div class="col-lg-9 col-sm col-md-8">
                <div class="container py-5">
                    <div class="row">
                        <div class="col-lg-3 col-sm-5 col-md-4 format">
                            <img src="./img/teacher.png" alt="teacher" class="home-content-img">
                        </div>
                        <div class="col-lg-9 col-sm-7 col-md-8">
                            <h2 class="home-content-title">Alberto Somayya</h2>
                            <h4 class="home-content-title">Executive Chef</h4>
                            <p class="d-none d-sm-none d-md-block">Award winning three-star Michelin chef with wide International experience having worked closely with whos-who in the culinary world, he specializes in creaing mouthwatering Indo-Italian fusion experiences.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm col-md-4 format">
                <p class="home-content-extra">Meet our Culinary Specialists</p>
            </div>
        </div><hr>
    </div>
    
    <%- include('./partials/footer') %>
    
</body>
</html>